.border-dashed {
    border: 2px dashed #4da3d3
}

::selection {
    background: #b9f5ff !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c3c3;
}

input, textarea {
    border: 1px solid #ccc !important;
    background: #ffffff !important;
}
input:focus{
    outline: 0 !important;
    outline-color: transparent !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
    border: 1px solid #a2a2a2 !important;
}

select:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
    border: 1px solid #a2a2a2 !important;
}

textarea:focus {
    outline: none !important;
    border: 1px solid #a2a2a2 !important;
}

button, button:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

/*SELECT-2*/
.select2-container--default .select2-selection--single{
    border: 1px solid #a2a2a2 !important;
}
.select2-selection__placeholder{
    color: #747474 !important
}

.select2-container--default .select2-dropdown.select2-dropdown--below{
    z-index: 9999;
}





